@font-face {
  font-family: "iconfont"; /* Project id 3473557 */
  src: url('iconfont.woff2?t=1657288400646') format('woff2'),
       url('iconfont.woff?t=1657288400646') format('woff'),
       url('iconfont.ttf?t=1657288400646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duosucai:before {
  content: "\e616";
}

.icon-24gl-fullScreenEnter:before {
  content: "\ea68";
}

.icon-24gl-zoomIn:before {
  content: "\ea98";
}

.icon-24gl-zoomOut:before {
  content: "\ea99";
}

.icon-24gl-redo3:before {
  content: "\eb71";
}

.icon-24gl-undo3:before {
  content: "\eb75";
}

.icon-wendang:before {
  content: "\e623";
}

.icon-tuxiang:before {
  content: "\e622";
}

.icon-shipin1:before {
  content: "\e61f";
}

.icon-liebiao1:before {
  content: "\e620";
}

.icon-close-o:before {
  content: "\e613";
}

.icon-queren:before {
  content: "\e6bd";
}

.icon-tianjia:before {
  content: "\e636";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-guanli:before {
  content: "\e610";
}

.icon-fenlei-copy:before {
  content: "\e64e";
}

.icon-shipinxinxi:before {
  content: "\e635";
}

.icon-yonghuguanli:before {
  content: "\e612";
}

.icon-bg-tool:before {
  content: "\e63e";
}

.icon-gongju:before {
  content: "\e797";
}

.icon-yibiaopan:before {
  content: "\e614";
}

.icon-fenleiqiguanli:before {
  content: "\e712";
}

.icon-igw-f-dashboard:before {
  content: "\e65c";
}

.icon-chexiao:before {
  content: "\e604";
}

.icon-xiaosuolvetu:before {
  content: "\e606";
}

.icon-dasuolvetuliebiao:before {
  content: "\e60e";
}

.icon-shuaxin:before {
  content: "\e61b";
}

.icon-cunchu:before {
  content: "\e690";
}

.icon-liebiao:before {
  content: "\e60f";
}

.icon-caidanshouqi:before {
  content: "\e611";
}

.icon-caidanzhankai:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e60c";
}

.icon-soucang:before {
  content: "\e664";
}

.icon-mima:before {
  content: "\e634";
}

.icon-changyongxinxi:before {
  content: "\e886";
}

.icon-touxiang1:before {
  content: "\e6df";
}

.icon-tuichu:before {
  content: "\e60d";
}

.icon-personal:before {
  content: "\e640";
}

.icon-yunduanshangchuan:before {
  content: "\ec1d";
}

.icon-box-empty:before {
  content: "\e678";
}

.icon-supplier-ship:before {
  content: "\e63f";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-icomima:before {
  content: "\e677";
}

.icon-ok:before {
  content: "\e63d";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-cuowu:before {
  content: "\e602";
}

.icon-31xiala:before {
  content: "\e603";
}

.icon-shijian:before {
  content: "\e609";
}

.icon-ai-out:before {
  content: "\e642";
}

.icon-xiangyou2:before {
  content: "\e6fc";
}

.icon-xiangzuo2:before {
  content: "\e6fd";
}

.icon-zuo:before {
  content: "\e63c";
}

.icon-shoucang-shoucang:before {
  content: "\e607";
}

.icon-tishishuoming:before {
  content: "\e64c";
}

.icon-nav_profile:before {
  content: "\e669";
}

.icon--jinzhi:before {
  content: "\e60a";
}

.icon-cuowu1:before {
  content: "\e605";
}

.icon-cs-jg-1:before {
  content: "\e632";
}

.icon-bofang:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e780";
}

.icon-24gf-shieldCheck:before {
  content: "\e9d9";
}

.icon-24gf-shieldCross:before {
  content: "\e9da";
}

.icon-24gf-shieldWarning:before {
  content: "\e9db";
}

.icon-youxiang:before {
  content: "\e608";
}

.icon-lijiqueren:before {
  content: "\e762";
}

.icon-touxiang:before {
  content: "\e6de";
}

.icon-shipin:before {
  content: "\e619";
}

.icon-xiugai:before {
  content: "\e633";
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-guanbi-1:before {
  content: "\e68f";
}

.icon-a-xinxiyuyinxinxitishixinxi-04:before {
  content: "\e914";
}

