*{
    margin: 0;
    padding: 0;
}
.login-box {
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    overflow: hidden;
    z-index: 1;
}
.login-box:before, .login-box:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background-color: var(--gray-dark);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.login-box:before {
    bottom: 15vh;
    border-radius: 45%;
    animation-duration: 10s;
}

.login-box:after {
    bottom: 12vh;
    opacity: .5;
    border-radius: 47%;
    animation-duration: 10s;
}


@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -1%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

.main-box{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box{
    width: 520px;
    height: 330px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 3px 12px rgb(0 36 153 / 6%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
.form-title{
    width: 100%;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0 0;
    font-weight: bold;
    color: var(--dark);
}
.form-inner-box{
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bottom-box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}