*{
    margin: 0;
    padding: 0;
}

.main__box__scoller__bar{
    width: 100%;
    height: calc(100% - 130px);
    animation: showBox 0.3s ease-out;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-list-box{
    width: 98%;
    height: auto;
    background-color: var(--photo-list-box-background);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
@keyframes showBox {
    0%{
        opacity: 0;
        transform: translateX(-5%);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.photo-list___control__a{
    display: flex;
    align-items: center;
}

.photo-list-control{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.photo-list-bottom{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.photo-seach-group{
    display: flex;
    align-items: center;
}
.photo-seach-group p{
    color: var(--photo-list-search-color);
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
}

.photoview{
    width: 72px;
    height: 42px;
    cursor: pointer;
}